@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Suggestion Made";
}
@model TopRestaurants.Models.Suggestion

<div>
    <h2>@Model.RestaurantName has been added. Thank you! </h2>
</div>